<% @page_title = "New Page" %>

<%= link_to("Back", {:action => 'index', :subject_id => @subject_id}, :class => 'back-link') %>

<div class="pages new">
  <h2>Create Page</h2>

  <%= form_for(:page, :url => {:action => 'create', :subject_id => @subject_id}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Create Page") %>
         <%#= submit_tag("Create Page") %>
    </div>

  <% end %>
</div>
